.container {
	padding: 0 2rem;
	--tx-size-title: 4rem;
	--tx-size-title-2: 2.8rem;
	--tx-size-title-3: 1.25rem;
	--tx-size-subtitle: 1.25rem;
	--tx-size-body: 16px;
	--tx-size-small: 14px;
	--tx-color-light: #2f4f4f;
}

.main {
	width: min(100vw - 4rem, 50rem);
	margin-inline: auto;
	padding-block: 4rem 2rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	& section {
		margin-block: 0.5rem;
	}
}

.heading {
	font-size: var(--tx-size-title);
	margin-block: 0rem;
	line-height: 1.15;
}

.description {
	font-size: var(--tx-size-subtitle);
	margin-block: 0rem 1rem;
	line-height: 1.5;
}